.detail {
    background-color: #F4F4F4;
    height: 100vh;
    overflow: scroll;
    .new-activity {
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        .edit-title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            input {
                border: none;
                border-bottom: 1px solid black;
                outline: 0;
            }

            img {
                cursor: pointer;
            }

            h1 {
                font-weight: 700;
                font-size: 36px;
            }
        }

        .control-button {
            width: 240px;
            text-align: end;
            display: flex;
            justify-content: space-between;
            position: relative;

            .dropdown-sort {
                background-color: white;
                border: 1px solid #E5E5E5;
                width: 240px;
                height: 52px;
                position: absolute;
                top: 60px;

                ul {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin: 0;
                    width: 100%;
                    background-color: white;

                    li {
                        position: relative;
                        width: 100%;
                        left: -32px;
                        display: flex;
                        height: 40px;
                        align-items: center;
                        padding: 10px 20px;
                        gap: 20px;

                        &:hover {
                            cursor: pointer;
                            background-color: lightblue;
                        }

                        .latest {
                            width: 18px;
                            height: 14px;
                            background-image: url(../../assets/icons/latest.svg);
                            background-repeat: no-repeat;
                        }
                        .oldest {
                            width: 18px;
                            height: 14px;
                            background-image: url(../../assets/icons/oldest.svg);
                            background-repeat: no-repeat;
                        }
                        .asc {
                            width: 18px;
                            height: 14px;
                            background-image: url(../../assets/icons/asc.svg);
                            background-repeat: no-repeat;
                        }
                        .desc {
                            width: 18px;
                            height: 14px;
                            background-image: url(../../assets/icons/desc.svg);
                            background-repeat: no-repeat;
                        }
                        .unfinished {
                            width: 18px;
                            height: 14px;
                            background-image: url(../../assets/icons/unfinished.svg);
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
}