.modal-alert {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-alert-content {
        width: 490px;
        height: 58px;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
        
        // .frame-image {
        //     background-color: red;
        // }

        span {
            font-weight: 500;
            font-size: 14px;
            color: #111111;
            margin-left: 20px;
        }

    }
}