@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Poppins&display=swap');

:root {
    --text-blue: #16ABF8;
    --text-white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}