.button_tambah {
    width: 159px;
    height: 54px;
    background-color: var(--text-blue);
    color: var(--text-white);
    border-radius: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;

    .icon_plus {
        height: 24px;
        width: 24px;
        background-image: url('../../../assets/icons/tabler_plus.svg');
    }
}

.button_tambah_v2 {
    width: 100px;
    height: 100px;
    background-color: #16ABF8;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon_plus_2 {
        width: 57.49px;
        height: 57.41px;
        background-image: url(../../../assets/icons/big_plus.svg);
    }

}

.button_cancel {
    width: 150px;
    height: 54px;
    padding: 13px, 14px, 13px, 14px;
    background-color: #F4F4F4;
    border-radius: 45px;
    border: none;

    span {
        font-weight: 600;
        font-size: 18px;
        color: #4A4A4A;
    }
}

.button_delete {
    width: 150px;
    height: 54px;
    padding: 13px, 14px, 13px, 14px;
    background-color: #ED4C5C;
    border-radius: 45px;
    border: none;

    span {
        font-weight: 600;
        font-size: 18px;
        color: var(--text-white);
    }
}

.button_save {
    width: 150px;
    height: 54px;
    background-color: #16ABF8;
    border-radius: 45px;
    border: none;
    color: var(--text-white);
}

.button_disable {
    width: 150px;
    height: 54px;
    background-color: lightblue;
    border-radius: 45px;
    border: none;
    color: var(--text-white);
}

.button_sort {
    width: 54px;
    height: 54px;
    background-color: rgba(229, 229, 229, 1);
    border: 1px solid #E5E5E5;
    border-radius: 45px;
    background-image: url(../../../assets/icons/sort.svg);
    background-repeat: no-repeat;
    background-position: center;
}